.body-centered {
	margin-left: 30%;
	width: 40%;
	border: 2px solid #a5dc86;
	border-radius: 10px;
	padding: 16px;
}

.william-input-box {
	height: 40px;
	border-radius: 10px;	
	width: 100%;
	font-size: 24px;
}

.willian-input-button {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background-color: #3085d6;
	color: white;
	font-size: 18px;
}

table {
	width: 100%;
}

table tr td {
	padding-top: 15px;
}
